---
import { Image } from "astro:assets";

import insta from "@assets/icons/insta.png";
import linkedin from "@assets/icons/linkedin.png";
import photos from "@assets/icons/photos.png";
import twitter from "@assets/icons/twitter.png";
import youtube from "@assets/icons/youtube.png";
---

<div id="footer">
  <div class="footer-column" id="social">
    <a
      href="https://www.instagram.com/execut_conference/"
      title="Instagram page"
      target="_blank"
      rel="noopener">
      <Image
        src={insta}
        class="socialmedia"
        alt="Instagram icon"
        width={32}
        height={32} /></a>

    <a
      href="https://twitter.com/execut_cc"
      title="Twitter page"
      target="_blank"
      rel="noopener">
      <Image
        src={twitter}
        class="socialmedia"
        alt="Twitter icon"
        width={32}
        height={32} /></a>

    <a
      href="https://www.youtube.com/channel/UCaUAV2Lp7Ph1MbzacOmHJ2w"
      title="YouTube channel"
      target="_blank"
      rel="noopener">
      <Image
        src={youtube}
        class="socialmedia"
        alt="Youtube icon"
        width={32}
        height={32} /></a>

    <a
      href="https://photos.app.goo.gl/FUYymBedpostbMat7"
      title="Our photo gallery"
      target="_blank"
      rel="noopener">
      <Image
        src={photos}
        class="socialmedia"
        alt="Gallery icon"
        width={32}
        height={32} /></a>

    <a
      href="https://www.linkedin.com/company/execut-conference/"
      title="LinkedIn page"
      target="_blank"
      rel="noopener">
      <Image
        src={linkedin}
        class="socialmedia"
        alt="LinkedIn icon"
        width={32}
        height={32} /></a>
  </div>

  <div class="footer-column" id="copyright">
    <p>
      <code>exec(ut)</code> is an event organised by
      <a href="https://stichtingsticky.nl/" target="_blank" rel="noopener">Stichting Sticky</a>.
      <br />
      All rights reserved.
    </p>
  </div>

  <div class="footer-column" id="coc">
    <p>
      Please take note of our
      <br />
      <a href="/code-of-conduct.pdf" target="_blank">Code of Conduct</a>,
      <a href="/privacy-policy.pdf" target="_blank">Privacy Policy</a>
      and
      <a href="/general_terms_en.pdf">General Terms</a>
    </p>
  </div>
</div>
